Política de Privacidade

Data de Vigência: 22/08/2023

Bem-vindo ao Litir! Esta Política de Privacidade descreve como tratamos as informações no nosso jogo disponível na plataforma Google Play.

Informações Coletadas
Não coletamos informações pessoais identificáveis de usuários neste jogo. Não solicitamos, coletamos, nem armazenamos quaisquer dados pessoais, como nome, endereço de e-mail ou informações de contato.

Uso do Jogo
O Litir é projetado para ser uma experiência de entretenimento, e não coleta informações pessoais dos usuários. Não há dados pessoais armazenados ou usados para qualquer finalidade.

Cookies e Tecnologias de Rastreamento
Não usamos cookies ou tecnologias de rastreamento para coletar informações dos usuários.

Compartilhamento de Informações
Dado que não coletamos informações pessoais dos usuários, não compartilhamos informações com terceiros.

Segurança
Apesar de não coletarmos informações pessoais, adotamos medidas de segurança razoáveis para proteger os dados que não são coletados contra acessos não autorizados ou uso indevido.

Alterações na Política de Privacidade
Reservamo-nos o direito de atualizar esta política de privacidade conforme necessário. Quaisquer alterações serão efetivas após a publicação da versão atualizada.

Contato
Se você tiver dúvidas ou preocupações relacionadas a esta política de privacidade, fique à vontade para entrar em contato conosco pelo seguinte endereço de e-mail: contato@litir.com.br

Ao continuar usando o jogo Litir, você concorda com os termos desta Política de Privacidade.