$black: #333333;
$white: #f2f2f2;
$whiteLetter: #f2f2f2;
$grey: #dbdbdb;
$blue: #bbdefb;
$yellow: #f2fd5a;
$err: #acacac;
$true: #7fc5f4;
$red: #ea5f50;


$bg: url('../../public/guess-the-word-game-gui-assets/PNG/levels-green-box.png');
$bgBtn: url('../../public/guess-the-word-game-gui-assets/PNG/shop-price-button.png');
$bgBtnPlay: url("../../public/guess-the-word-game-gui-assets/PNG/profile-play-button.png");

$bgBoxErr: url('../../public/guess-the-word-game-gui-assets/PNG/levels-grey-box.png');
$bgBoxLetterGreen: url('../../public/guess-the-word-game-gui-assets/PNG/shop-price-button.png');
$bgBoxLetterRed: url('../../public/guess-the-word-game-gui-assets/PNG/game-time-box.png');

$bgUser: url('../../public/guess-the-word-game-gui-assets/PNG/profile-friends.png');

$bgRanking: url('../../public/guess-the-word-game-gui-assets/PNG/shop-white-box.png');

$bgDefault: url('../../public/guess-the-word-game-gui-assets/PNG/game-question-box.png');
$bgActive: url('../../public/guess-the-word-game-gui-assets/PNG/');
$bgScore: url('../../public/guess-the-word-game-gui-assets/PNG/profile-levels0.png');

$coin: url("../../public/guess-the-word-game-gui-assets/PNG/profile-coins.png");
$coins: url("../../public/guess-the-word-game-gui-assets/PNG/shop-coins.png");
$score: url("../../public/guess-the-word-game-gui-assets/PNG/profile-levels0.png");

$star: url("../../public/guess-the-word-game-gui-assets/PNG/levels-3-stars.png");