.teclado{
   padding: 0 1%;
   flex-shrink: 0;
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   margin: 0 auto;
   display: grid;
   max-width: 100vb;
   min-height: 29vb;
   grid-template-rows: repeat(3,1fr);
   grid-template-columns: repeat(32,1fr);
   gap: 0.25em;
      
   > span{
      @include buttonControl;
      display: flex;
      align-items: center;
      justify-content: center;
      touch-action: manipulation;
      padding: 0;
      grid-column: span 3;
      font-size: 5vmin;
      line-height: 2em;
      position: relative;
      color: $black;
      transition: .3s;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -webkit-text-stroke: 0.5px #1b1b1b;

      &:hover{
         color: $black;
      }


      &:nth-child(11){
         grid-column: 2 / span 3;
      }
      &:nth-child(20){
         grid-column: 30 / span 3;
         margin: 0;
         font-size: 4vmin;
      }
      &:nth-child(21){
         grid-column: 3 / span 3;
      }
      &:last-child{
         grid-column: 24 / span 8;
         grid-row: 3 span 1;
      }

      &:nth-child(20),
      &:last-child{
         position: relative;
         &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
         }
      }

      &.letraIncorreta,
      &.letraCorretaLugarErrado,
      &.letraCorretaLugarCerto{
         color: $whiteLetter;
         background-color: transparent;
         border: none;
         position: relative;
         &:before{
            content: '';
            width: 9px;
            height: 18px;
            position: absolute;
            right: 5px;
            top: 3px;
            rotate: -30deg;
            border-radius: 50%;
         }
      }
      
      &.letraIncorreta{
         background-image: $bgBoxErr !important;
         -webkit-text-stroke: 1px #666;
         &:before{
            background-color: #dcdcdc;
         }
      }
      &.letraCorretaLugarErrado{
         background-image: $bgBoxLetterRed !important;
         -webkit-text-stroke: 1px #a7484c;
         &:before{
            background-color: #f3b4af;
         }
      }
      &.letraCorretaLugarCerto{
         background-image: none !important;
         background-color: #91bb15 !important;
         -webkit-text-stroke: 1px #698b11;
         border-bottom: 4px solid #759b14 !important;
         border-radius: 13px;
         &:before{
            background-color: #cbdf9c;
         }
      }
      
   }
}

@media screen and (max-width: 533px) {
   .teclado{
      border-bottom: 40px;
      min-height: 19vb;
   }
}